name: Coverage

on:
  push:
    branches: [ main ]

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Run tests with coverage
        run: go test ./... -coverprofile=coverage.out

      - name: Generate coverage badge
        uses: tj-actions/coverage-badge-go@v2
        with:
          filename: coverage.out
          text: Coverage           
          target: 80               
      - name: Commit badge
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add coverage-badge.svg || true
          git commit -m "Update coverage badge" || true
          git push || true
